# **Value distributor** ðŸ§®

The following script needs as input a **.csv** file with the following column names:

| **Column name** | **Description**           | **Format** |
|-------------|-----------------------|--------|
| id          | unique id of the deal | any |
| stage       | stage of sales funnel | text|
| close_date  | date of deal sign | ISO8601 Date |
| start_date | start date of the deal | ISO8601 Date |
| end_date | end date of the deal | ISO8601 Date |
| value | value of the deal | float64 |
| product | name or id of the product | any |

This structure is common to CRM applications in SaaS or project company. And the purpose of the script is to distribute all the value of the deal proportionally on each month during its duration. This can be used in financial forecast and budgeting exercises. 

The exercise works if the close_date happens before the start_date and the stage of the deal is not 'Deal lost'. To change these restrictions or naming of the columns, go to the file functions.py directly.

#### **Packages and modules used:**

In [48]:
import pandas as pd
from functions import *

#### **Reading the csv file:**
In order to make the distributor function work, the **.csv** has to be defined as a list of dictionaries. The function read_csv from the *functions.py* takes the file and returns that list of dictionaries.

In [49]:
data = read_csv('data_sample.csv')
result = pd.DataFrame(columns=['month','value','id','product'])

#### **Running the distributor function:**
For each deal in the **.csv*** file, the function will create a set of rows for each month during the duration of the deal, distributing the value based on the number of days of each month until the deal is totally paid.

In [50]:
for i in range(0,len(data)):
    df = pd.DataFrame(distributor(data[i]))
    result = pd.concat([result,df],ignore_index=True)

#### **Verifying the results:**
To know that the deal is properly distributed, the sum of values of the result and the input must be the same. Also the values must be distributed during the duration of the deal.

In [51]:
input = pd.DataFrame(data)
output = result.groupby(['id'],as_index=False).agg({'value':'sum'})

In [52]:
result

         month         value id product
0   2022-04-30   8264.784483  1   prod1
1   2022-05-31  15071.077586  1   prod1
2   2022-06-30  14584.913793  1   prod1
3   2022-07-31  15071.077586  1   prod1
4   2022-08-31  15071.077586  1   prod1
5   2022-09-30  14584.913793  1   prod1
6   2022-10-31  15071.077586  1   prod1
7   2022-11-30  14584.913793  1   prod1
8   2022-12-31    486.163793  1   prod1
9   2022-07-31   5119.277778  3   prod2
10  2022-08-31  14427.055556  3   prod2
11  2022-09-30  13961.666667  3   prod2

In [46]:
input

  id       stage  close_date  start_date    end_date   value product
0  1    Deal Won  2022-04-05  2022-04-13  2022-12-01  112790   prod1
1  2   Deal lost  2022-05-23  2022-06-23  2022-09-30   57040   prod1
2  3  Evaluation  2022-03-23  2022-07-20  2022-09-30   33508   prod2

In [45]:
input[['id','value']]

  id   value
0  1  112790
1  2   57040
2  3   33508

In [40]:
output

  id     value
0  1  112790.0
1  3   33508.0